#language {width: 200px;}

#reconized_string {
  width: 100%;
  height: 30px;
}

#page {
  margin: 2px;
  height: 45%;
  width: 100%;
  overflow: auto;
}

#keyboard{
  margin-left: 5px;
  margin-top: 10px;
}

.left_margin {margin-left: 10px;}

.tiny_font {font-size: 80%;}
.small_font {font-size: 90%;}
.big_font {font-size: 120%;}

.italic_font{font-style: italic;}

.right_align {text-align:right;}

.shadow {display: none;}

.public_license {
  text-align: right;
  font-style: italic;
}
